body {
    background-color: red;
    text-align: center;
}

.heading {
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 25px;
}

.box {
    width: 200px;
    background-color: yellow;
    margin-left: 20px;
}

p {
    ;
    font-size: 20px;
}

div {
    font-size: 20px;
}
